<div *ngIf="connected; then iconConnected else iconLostConnected"></div>
<ng-template #iconConnected>
    <span class="material-icons" [ngStyle]="{'color': color}" matBadgeOverlap="false" [matBadge]=" "
        matBadgeColor="" matTooltip="Last update: {{lastupdate}}">
        signal_wifi_4_bar
    </span>
</ng-template>
<ng-template #iconLostConnected>
    <span class="material-icons" [ngStyle]="{'color': color}" matBadgeOverlap="false" [matBadge]="connect"
        matBadgeColor="warn" matTooltip="
        Disconnected from the MATT Server. Attempt to connect: {{connect}}">signal_wifi_off
    </span>
</ng-template>