<div fxLayaout>
  <div fxLayout="row" fxLayoutAlign="space-between center">

    <div style="text-align:center" fxFlex="100">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>
    <div fxFlex="10" style="text-align:center">
      <app-mqtt></app-mqtt>
    </div>
  </div>

</div>

<br><br>
<div fxLayout="column" style="height:100%; width:100%">
  <mat-tab-group id="tab-group" class="mat-tab-fill-height">
    <mat-tab label="REALTIME">
      <!--<realtime></realtime>-->
      <app-realtime style="height:100%; width:100%"></app-realtime>
    </mat-tab>
    <mat-tab label="HISTORIC">
      <!-- <historic></historic>-->
      <app-historic style="height:100%; width:100%"></app-historic>
    </mat-tab>
  </mat-tab-group>
</div>
