/* You can add global styles to this file, and also import other style files */
/* angular material styles */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* vis.js styles */
@import "node_modules/vis/dist/vis.min.css";
@import "node_modules/vis/dist/vis-timeline-graph2d.min.css";

.alarm {
    fill:red;
}
html, body{
    height: 90%;
}
.mat-tab-group{
    height: 100%;
}
.mat-tab-body-wrapper {
    flex-grow: 1;
}

.mat-tab-body {
    display: flex !important;
    flex-direction: column;
}

.mat-tab-body-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
 